

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(167deg, #89658b, #2e1a41);
    color: #000000;

}
header h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 20px 0;
}
form{
    background: rgba(255, 255, 255, 0.719);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 30px 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.792);
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="color"],
input[type="range"],

textarea{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    font-size: 1rem;
    color: #757575;
    outline: none;
    box-shadow: inset 0 1px 3px #220235;
}
textarea{
resize: none;

}
